absl-py==1.4.0
actionlib==1.14.0
addict==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
angles==1.9.13
ansi2html==1.8.0
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
argcomplete==3.5.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asn1crypto==1.5.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
av==12.3.0
av2==0.2.1
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
black==24.8.0
bleach==6.0.0
bondpy==1.8.6
boto3==1.26.155
botocore==1.29.155
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854175163/work
cachetools==4.2.4
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
catkin-pkg==0.5.2
ccimport==0.4.2
certifi==2023.5.7
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046063618/work
chamfer==2.0.0
chamfer-distance @ git+https://github.com/otaheri/chamfer_distance@f86f6f7cadd3aca642704573d1626c67ca2e2846
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==3.0.0
cmake==4.0.3
cmu-multimodal-sdk==0.0.6
colorama==0.4.6
colorlog==6.9.0
comm==0.2.2
ConfigArgParse==1.5.5
controller-manager==0.20.0
controller-manager-msgs==0.20.0
croniter==1.4.1
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1652967113783/work
cumm-cu116==0.4.9
cv-bridge==1.16.2
cycler==0.11.0
Cython==3.0.0
dash==2.11.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
databricks-sql-connector==2.0.3
dataclasses==0.6
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
# Editable install with no version control (detectron2==0.6)
-e /home/elon/Projects/Mask2Former-main/detectron2
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
distlib==0.3.9
distro==1.8.0
docker-pycreds==0.4.0
docutils==0.20.1
duckdb==0.3.4
duckdb-engine==0.1.11
dynamic-reconfigure==1.7.3
easydict==1.10
einops==0.8.0
exceptiongroup==1.3.0
executing==2.0.1
expansion-penalty==0.0.0
fastjsonschema==2.16.3
filelock==3.12.2
fire==0.5.0
Flask==2.2.5
Flask-Cors==5.0.0
flatbuffers==1.12
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.5.0
future==0.18.3
fuzzywuzzy==0.18.0
fvcore==0.1.5.post20221221
gast==0.3.3
gazebo_plugins==2.9.2
gazebo_ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
gensim==4.3.1
gitdb==4.0.10
GitPython==3.1.37
gnupg==2.3.1
google-api-core==2.24.2
google-auth==2.22.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==3.30.0
google-cloud-core==2.4.3
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
googledrivedownloader==0.4
gql==3.5.3
graphql-core==3.2.6
graphviz==0.18.2
greenlet==3.1.1
grpcio==1.70.0
grpcio-status==1.70.0
h5py==2.10.0
halo==0.0.31
huggingface-hub==0.15.1
hydra-core==1.3.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
image-geometry==1.16.2
imageio==2.28.1
importlib-resources==5.12.0
importlib_metadata==8.0.0
iniconfig==2.1.0
interactive-markers==1.12.0
iopath==0.1.9
ipykernel==6.29.5
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.0.6
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
jsonpointer==2.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
KNN-CUDA @ https://github.com/unlimblue/KNN_CUDA/releases/download/0.2/KNN_CUDA-0.2-py3-none-any.whl
kornia==0.2.0
kornia_rs==0.1.8
lark==1.1.5
laser_geometry==1.6.7
lazy_loader==0.3
libclang==16.0.6
llvmlite==0.40.1
log-symbols==0.0.14
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.5.2
matplotlib-inline==0.1.7
mdurl==0.1.2
message-filters==1.16.0
metricflow-lite==0.130.2
mistune==2.0.5
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mo-dots==4.22.21108
mo-future==3.147.20327
mo-imports==3.149.20327
mo-kwargs==4.22.21108
mo-logs==4.23.21108
monotonic==1.6
more-itertools==8.10.0
moz-sql-parser==4.40.21126
multidict==6.0.4
multiprocessing-logging==0.3.4
MultiScaleDeformableAttention==1.0
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.4.0
nbformat==5.7.0
nest-asyncio==1.6.0
networkx==3.1
ninja==1.11.1
notebook==6.5.4
notebook_shim==0.2.3
nox==2024.10.9
numba==0.57.1
numpy==1.22.4
nuscenes-devkit==1.1.10
oauthlib==3.2.2
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
omegaconf==2.3.0
open3d==0.17.0
open3d-python==0.3.0.0
opencv-contrib-python @ file:///home/elon/Workshops/Scatter-annotation/ScatterLabel/opencv_contrib_python-3.4.10.37-cp38-cp38-manylinux2014_x86_64.whl
opencv-python-headless==4.11.0.86
opt-einsum==3.3.0
oscrypto==1.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pafy==0.5.5
pandas==1.4.4
pandocfilters==1.5.0
parso==0.8.4
pathspec==0.12.1
pathtools==0.1.2
pccm==0.4.7
# Editable install with no version control (pcdet==0.6.0+0)
-e /home/elon/Projects/OpenPCDet
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
plotly==5.15.0
pluggy==1.5.0
plyfile==1.0.3
pointnet2-ops @ file:///home/elon/Projects/AnchorFormer-master/pointnet2_ops_lib
portalocker==2.7.0
prometheus-client==0.16.0
prompt_toolkit==3.0.47
proto-plus==1.26.1
protobuf==3.20.0
psutil==5.9.5
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==5.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.10.4
pycocotools==2.0.6
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycron==3.0.0
pycryptodome==3.18.0
pycryptodomex==3.18.0
pydantic==1.10.22
pyDeprecate==0.3.0
pyemd==1.0.0
Pygments==2.18.0
PyJWT==2.9.0
PyOpenGL==3.1.9
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1663846997386/work
pyparsing==3.0.9
pyproj==3.5.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
pyqt5-tools==5.15.9.3.3
PyQt5_sip==12.15.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
pyqtgraph==0.13.3
pyquaternion==0.9.9
pyrsistent==0.19.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest==8.3.5
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-louvain==0.16
python-qt-binding==0.4.4
pytorch-lightning==1.3.8
pytorch3d==0.7.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0.2
pyzmq==26.0.3
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
qtconsole==5.4.3
QtPy==2.3.1
rdflib==7.0.0
regex==2023.6.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1682535435083/work
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
resource_retriever==1.12.7
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rosbag==1.16.0
rosbags==0.9.15
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospkg==1.5.0
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rqt-console==0.4.12
rqt-image-view==0.4.17
rqt-logger-level==0.4.12
rqt-moveit==0.5.11
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-tf-tree==0.6.4
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_dep==0.4.12
rqt_graph==0.4.14
rqt_gui==0.5.3
rqt_gui_py==0.5.3
rqt_launch==0.4.9
rqt_msg==0.4.10
rqt_nav_view==0.5.7
rqt_plot==0.4.13
rqt_pose_view==0.5.11
rqt_publisher==0.4.10
rqt_py_common==0.5.3
rqt_py_console==0.4.10
rqt_robot_steering==0.5.12
rqt_service_caller==0.4.10
rqt_shell==0.4.11
rqt_srv==0.4.9
rqt_top==0.4.10
rqt_topic==0.4.13
rqt_web==0.4.10
rsa==4.9
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
rudder-sdk-python==1.0.6
rviz==1.14.20
s3transfer==0.6.1
sacremoses==0.0.53
safetensors==0.3.1
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.8.0
seaborn==0.12.2
Send2Trash==1.8.2
sensor-msgs==1.13.1
sentencepiece==0.1.99
sentry-sdk==1.31.0
setproctitle==1.3.3
Shapely==1.8.5
SharedArray==3.2.4
shellingham==1.5.4
sip==6.8.6
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smach==2.5.2
smach-ros==2.5.2
smart-open==6.3.0
smclib==1.8.6
smmap==5.0.1
sniffio==1.3.0
snowflake-connector-python==2.9.0
snowflake-sqlalchemy==1.2.3
some-package==0.1
soupsieve==2.4.1
sox==1.5.0
spconv-cu116==2.3.6
spinners==0.0.24
SQLAlchemy==1.4.54
sqlalchemy-bigquery==1.14.1
sqlalchemy-redshift==0.8.1
sqlalchemy2-stubs==0.0.2a38
stack-data==0.6.3
tabulate==0.8.9
tenacity==8.2.2
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.1
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminado==0.17.1
terminaltables==3.1.10
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
threadpoolctl==3.1.0
thrift==0.13.0
tifffile==2023.7.10
timm==0.9.16
tinycss2==1.2.1
tokenizers==0.5.2
tomli==2.0.1
topic-tools==1.16.0
torch==1.12.0
torch-geometric==1.7.2
torch-scatter @ file:///home/elon/Downloads/torch_scatter-2.0.9-cp38-cp38-linux_x86_64.whl
torchaudio==0.12.0
torchmetrics==0.11.4
torchvision==0.13.0
tornado==6.4.1
tqdm==4.65.0
traitlets==5.14.3
transform==1.4.3
transform-tools==1.1.0
transformers==2.5.1
transforms3d==0.4.1
trimesh==4.5.1
typing_extensions==4.12.2
tzdata==2023.3
update-checker==0.18.0
uri-template==1.2.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
validators==0.20.0
virtualenv==20.29.1
wandb==0.15.12
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==4.0.7
wrapt==1.15.0
xacro==1.14.18
xxhash==3.5.0
yacs==0.1.8
yamllint==1.35.1
yarl==1.9.2
youtube-dl==2021.12.17
zipp==3.15.0
zstandard==0.21.0
