absl-py==1.4.0
actionlib==1.14.0
addict==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
angles==1.9.13
ansi2html==1.8.0
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
argcomplete==3.5.3
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
arrow==1.2.3
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
av2==0.2.1
av==12.3.0
backcall==0.2.0
beautifulsoup4==4.12.2
black==24.8.0
bleach==6.0.0
bondpy==1.8.6
boto3==1.26.155
botocore==1.29.155
brotlipy==0.7.0
cachetools==4.2.4
camera-calibration-parsers==1.12.0
camera-calibration==1.17.0
catkin-pkg==0.5.2
catkin==0.8.10
ccimport==0.4.2
certifi==2023.5.7
cffi==1.15.0
chamfer-distance==0.1
chamfer==2.0.0
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==3.0.0
cmu-multimodal-sdk==0.0.6
colorlog==6.9.0
comm==0.2.2
configargparse==1.5.5
controller-manager-msgs==0.20.0
controller-manager==0.20.0
cryptography==37.0.2
cumm-cu116==0.4.9
cv-bridge==1.16.2
cycler==0.11.0
cython==3.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash==2.11.1
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
detectron2==0.6
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
distlib==0.3.9
distro==1.8.0
docker-pycreds==0.4.0
docutils==0.20.1
dynamic-reconfigure==1.7.3
easydict==1.10
einops==0.8.0
executing==2.0.1
expansion-penalty==0.0.0
fastjsonschema==2.16.3
filelock==3.12.2
fire==0.5.0
flask==2.2.5
flatbuffers==1.12
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.5.0
future==0.18.3
fvcore==0.1.5.post20221221
gast==0.3.3
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
gensim==4.3.1
gitdb==4.0.10
gitpython==3.1.37
gnupg==2.3.1
google-auth-oauthlib==0.4.6
google-auth==2.22.0
google-pasta==0.2.0
googledrivedownloader==0.4
grpcio==1.54.2
h5py==2.10.0
huggingface-hub==0.15.1
hydra-core==1.3.2
idna==3.4
image-geometry==1.16.2
imageio==2.28.1
importlib-metadata==8.0.0
importlib-resources==5.12.0
interactive-markers==1.12.0
iopath==0.1.9
ipykernel==6.29.5
ipython-genutils==0.2.0
ipython==8.12.3
ipywidgets==8.0.6
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
joint-state-publisher-gui==1.15.1
joint-state-publisher==1.15.1
jsonpointer==2.3
jsonschema==4.17.3
jupyter-client==8.6.2
jupyter-console==6.6.3
jupyter-core==5.7.2
jupyter-events==0.6.3
jupyter-server-terminals==0.4.4
jupyter-server==2.5.0
jupyter==1.0.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
keras-preprocessing==1.1.2
keras==2.9.0
kiwisolver==1.4.4
knn-cuda==0.2
kornia-rs==0.1.8
kornia==0.2.0
lark==1.1.5
laser-geometry==1.6.7
lazy-loader==0.3
libclang==16.0.6
llvmlite==0.40.1
lz4==4.3.2
markdown-it-py==3.0.0
markdown==3.4.3
markupsafe==2.1.5
matplotlib-inline==0.1.7
matplotlib==3.5.2
mdurl==0.1.2
message-filters==1.16.0
mistune==2.0.5
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
multidict==6.0.4
multiprocessing-logging==0.3.4
multiscaledeformableattention==1.0
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.4.0
nbformat==5.7.0
nest-asyncio==1.6.0
networkx==3.1
ninja==1.11.1
notebook-shim==0.2.3
notebook==6.5.4
nox==2024.10.9
numba==0.57.1
numpy==1.22.4
nuscenes-devkit==1.1.10
oauthlib==3.2.2
olefile==0.46
omegaconf==2.3.0
open3d-python==0.3.0.0
open3d==0.17.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opt-einsum==3.3.0
packaging==23.1
pafy==0.5.5
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.4
pathspec==0.12.1
pathtools==0.1.2
pccm==0.4.7
pcdet==0.6.0+0
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.4.0
pip==23.0.1
pkgutil-resolve-name==1.3.10
platformdirs==4.2.2
plotly==5.15.0
pointnet2-ops==3.0.0
portalocker==2.7.0
prometheus-client==0.16.0
prompt-toolkit==3.0.47
protobuf==3.19.6
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==17.0.0
pyasn1-modules==0.3.0
pyasn1==0.5.0
pybind11==2.10.4
pycocotools==2.0.6
pycparser==2.21
pycryptodome==3.18.0
pycryptodomex==3.18.0
pydeprecate==0.3.0
pyemd==1.0.0
pygments==2.18.0
pyopengl-accelerate==3.1.9
pyopengl==3.1.9
pyopenssl==22.0.0
pyparsing==3.0.9
pyproj==3.5.0
pyqt5-qt5==5.15.2
pyqt5-sip==12.15.0
pyqt5==5.15.11
pyqt6-qt6==6.7.3
pyqt6-sip==13.8.0
pyqtgraph==0.13.3
pyqtwebengine-qt5==5.15.16
pyqtwebengine==5.15.7
pyquaternion==0.9.9
pyrsistent==0.19.3
pysocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-louvain==0.16
python-qt-binding==0.4.4
pytorch-lightning==1.3.8
pytorch3d==0.7.2
pytz==2023.3
pywavelets==1.4.1
pyyaml==5.4.1
pyzmq==26.0.3
qt-dotgraph==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qt-gui==0.4.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
qtconsole==5.4.3
qtpy==2.3.1
rdflib==7.0.0
regex==2023.6.3
requests-oauthlib==1.3.1
requests==2.29.0
resource-retriever==1.12.7
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rosbag==1.16.0
rosbags==0.9.15
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospkg==1.5.0
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rqt-action==0.4.9
rqt-bag-plugins==0.5.1
rqt-bag==0.5.1
rqt-console==0.4.12
rqt-dep==0.4.12
rqt-graph==0.4.14
rqt-gui-py==0.5.3
rqt-gui==0.5.3
rqt-image-view==0.4.17
rqt-launch==0.4.9
rqt-logger-level==0.4.12
rqt-moveit==0.5.11
rqt-msg==0.4.10
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.3
rqt-py-console==0.4.10
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.4
rqt-top==0.4.10
rqt-topic==0.4.13
rqt-web==0.4.10
rsa==4.9
ruamel.yaml.clib==0.2.7
ruamel.yaml==0.17.26
rviz==1.14.20
s3transfer==0.6.1
sacremoses==0.0.53
safetensors==0.3.1
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.8.0
seaborn==0.12.2
send2trash==1.8.2
sensor-msgs==1.13.1
sentencepiece==0.1.99
sentry-sdk==1.31.0
setproctitle==1.3.3
setuptools==66.0.0
shapely==1.8.5
sharedarray==3.2.4
sip==6.8.6
six==1.16.0
smach-ros==2.5.2
smach==2.5.2
smart-open==6.3.0
smclib==1.8.6
smmap==5.0.1
sniffio==1.3.0
some-package==0.1
soupsieve==2.4.1
sox==1.5.0
spconv-cu116==2.3.6
stack-data==0.6.3
tabulate==0.9.0
tenacity==8.2.2
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.1
tensorboard==2.9.1
tensorboardx==2.6.2
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.1
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminado==0.17.1
terminaltables==3.1.10
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
tf==1.13.2
threadpoolctl==3.1.0
tifffile==2023.7.10
timm==0.9.16
tinycss2==1.2.1
tokenizers==0.5.2
tomli==2.0.1
topic-tools==1.16.0
torch-geometric==1.7.2
torch-scatter==2.0.9
torch==1.12.0
torchaudio==0.12.0
torchmetrics==0.11.4
torchvision==0.13.0
tornado==6.4.1
tqdm==4.65.0
traitlets==5.14.3
transformers==2.5.1
transforms3d==0.4.1
trimesh==4.5.1
typing-extensions==4.12.2
tzdata==2023.3
uri-template==1.2.0
urllib3==1.26.15
validators==0.20.0
virtualenv==20.29.1
wandb==0.15.12
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
werkzeug==2.2.3
wheel==0.38.4
widgetsnbextension==4.0.7
wrapt==1.15.0
xacro==1.14.18
yacs==0.1.8
yarl==1.9.2
youtube-dl==2021.12.17
zipp==3.15.0
zstandard==0.21.0